<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Channels Chat</title>
    </head>
    <body>
        <label for="chatLog">Room: #{{ room.name }}</label><br>
        <textarea id="chatLog" style="height: 300px;" readonly></textarea><br>
        <input type="text" id="chatMessageInput" placeholder="Enter your chat message"><br>
        <button id="chatMessageSend" type="button">Send</button>
        <script>
            let chatLog = document.querySelector("#chatLog");
            let chatMessageInput = document.querySelector("#chatMessageInput");
            let chatMessageSend = document.querySelector("#chatMessageSend");

            // clear the 'chatMessageInput' and forward the message
            chatMessageSend.onclick = function() {
                if (chatMessageInput.value.length === 0) return;
                chatSocket.send(JSON.stringify({
                    "message": chatMessageInput.value,
                }));
                chatMessageInput.value = "";
            };


            let chatSocket = null;
            function connect() {
                chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/{{ room.name }}/");
                chatSocket.onopen = function(e) {
                    console.log("Successfully connected to the WebSocket.");
                }
                chatSocket.onclose = function(e) {
                    console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
                    setTimeout(function() {
                        console.log("Reconnecting...");
                        connect();
                    }, 2000);
                };
                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    console.log(data);

                    switch (data.type) {
                        case "chat_message":
                            chatLog.value += data.message + "\n";
                            break;
                        default:
                            console.error("Unknown message type!");
                            break;
                    }

                    // scroll 'chatLog' to the bottom
                    chatLog.scrollTop = chatLog.scrollHeight;
                };

                chatSocket.onerror = function(err) {
                    console.log("WebSocket encountered an error: " + err.message);
                    console.log("Closing the socket.");
                    chatSocket.close();
                }
            }
            connect();
        </script>
    </body>
</html>
